// 公共前缀
$prefix: su;

$font-size: 10px;

$text-color-default: var(--su-text-color-default);
$text-color-primary: var(--su-text-color-primary);

$comp-color-default: var(--su-comp-color-default);
$comp-color-primary: var(--su-comp-color-primary);

$border-radius: var(--su-radius-default);
